input[required]{
  border: 2px solid red;
}
input[type = "password"]{
  background-color: lightgray;
}
a[href^ = "https"]{
  color:green;
}
a[href $ = ".pdf"]{
  color:pink;
}
a[href* ="exemplo"]{
 font-weight: bold;
}
div[classe~="ativo"]{
  background-color:lightblue;
}
p[long |="pt"]{
  color:green;
}
  
  
